@model Orkidea.PollaExpress.WebFront.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Inicia sesión para participar</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                No hay servicios de autenticación externos configurados. Consulte <a href="http://go.microsoft.com/fwlink/?LinkId=403804">este artículo</a>
                para obtener más información acerca de la configuración de esta aplicación ASP.NET para admitir el inicio de sesión mediante servicios externos.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        string color = "", icon = "", label ="";
                        if (p.Caption == "Facebook")
                        {
                            color = "btn-primary";
                            icon = "fa-facebook";
                            label = p.Caption;
                        }

                        if (p.Caption == "Google")
                        {
                            color = "btn-danger";
                            icon = "fa-google-plus";
                            label = p.Caption;
                        }

                        if (p.Caption == "Twitter")
                        {
                            color = "btn-info";
                            icon = "fa-twitter";
                            label = p.Caption;
                        }

                        if (p.Caption == "Microsoft")
                        {
                            color = "btn-success";
                            icon = "fa-windows";
                            label = "Hotmail";
                        }
                        
                        <button type="submit" class="btn @color" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Inicie sesión con su cuenta @p.Caption"><span class="fa @icon" aria-hidden="true"></span> @label</button>
                    }
                </p>
            </div>
        }
    }
}
